.app {
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filter-dropdown {
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
}

.search-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#searchInput {
  padding: 10px;
  width: 300px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  background-color: #051942;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #2d0a5c;
}

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  width: 300px;
  margin: 10px;
  text-align: left;
}

.retreat-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.retreat-content {
  padding: 10px;
}

.pagination {
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
}
